@font-face {
  font-family: MuseoSans300;
  src: url('./fonts/MuseoSans_300.otf');
  font-weight: 300;
};

@font-face {
  font-family: MuseoSans500;
  src: url('./fonts/MuseoSans_500.otf');
  font-weight: 500;
};

@font-face {
  font-family: MuseoSans700;
  src: url('./fonts/MuseoSans_700.otf');
  font-weight: 700;
};

@font-face {
  font-family: MuseoSans900;
  src: url('./fonts/MuseoSans_900.otf');
  font-weight: 900;
};

@font-face {
  font-family: SourceSansProRegular;
  src: url('./fonts/SourceSansPro-Regular.ttf');
};

@font-face {
  font-family: SourceSansProSemibold;
  src: url('./fonts/SourceSansPro-Semibold.ttf');
};

@font-face {
  font-family: SourceSansProItalic;
  src: url('./fonts/SourceSansPro-SemiBoldItalic.ttf');
};


